<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienestar">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-text color="light">
  <h1>Formas de Mantenerse Saludable</h1>
  <h3>Sigue estas rutinas a diario para mantenerte sano y listo para el entrenamiento</h3>
</ion-text>
<ion-card class="dormir">
  <ion-card-header>
  <ion-card-title>Dormir Adecuadamente</ion-card-title>
</ion-card-header>
</ion-card>
<ion-card class="agua">
  <ion-card-header>
  <ion-card-title>Bebe Agua a diario</ion-card-title>
</ion-card-header>
</ion-card>
<ion-card class="relax">
  <ion-card-header>
  <ion-card-title>Concentrate y Relájate</ion-card-title>
</ion-card-header>
</ion-card>
<ion-card class="inspiracion">
  <ion-card-header>
  <ion-card-title>Inspirate</ion-card-title>
</ion-card-header>
</ion-card>
</ion-content>
