ion-grid{
    position: absolute;
    padding: 0;
    bottom: 0;
    width: 100%;
}
.empezar{
    height: 50px;
    align-items: center;
    background-color: #3b5998;
    color: #fff;
    display: flex;
    justify-content: center;
}
.iniciar{
    height: 50px;
    align-items: center;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
}
