ion-card{
    --ion-background-color: linear-gradient(120deg,rgb(77, 77, 235),rgb(81, 173, 72));
    margin: 0 0 4px 0;
}
ion-card-title{
    color: #fff;
}
ion-card-subtitle{
    color: rgba(255, 255, 255, 0.932);
}
ion-slides{
    width: 350px;
    height: 100px;
}
ion-slide{
    width: 200px !important;
    height: 100px;
}

.slider-tab1{
    height: 200px;
}
.tarjetas{
    --ion-background-color: #fff;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yoga{
    background-image:url(../../assets/yoga.jpg);
    background-size: cover;
    height: 150px;
}
.calentamiento{
    background-image:url(../../assets/calentamiento.jpg);
    background-size: cover;
    height: 150px;
}
.cardio{
    background-image:url(../../assets/cardio.jpg);
    background-position-y: center;
    background-size: cover;
    height: 150px;
}
.fuerza{
    background-image:url(../../assets/223.jpg);
    background-size: cover;
    height: 150px;
}
.enfriamiento{
    background-image:url(../../assets/enfriamiento.jpg);
    background-position-y: center;
    background-size: cover;
    height: 150px;
}
.coach{
    background-image:url(../../assets/coach.jpg);
    background-size: cover;
    height: 150px;
}
