<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-slides>

    <ion-slide class="slider0">
        <h2 class="center">BIENVENIDOS<br> A<br> GYM TIME</h2>
        <a routerLink="slide1">  <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></a>

    </ion-slide>

    <ion-slide class="slider1" >
      <h2>RESPONDE ALGUNAS PREGUNTAS SOBRE TI PARA UN PLAN PERSONALIZADO</h2>
      <a routerLink="/slide2">  <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></a>

    </ion-slide>

    <ion-slide class="slider2" >
      <h2>ENTRENA EN CASA O EN EL GIMNASIO CON EJERCICIOS ACORDES A TU CONDICIÓN FÍSICA</h2>
      <a routerLink="slide3">  <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></a>

         </ion-slide>

    <ion-slide class="slider3" >
      <h2>LISTO PARA EMPEZAR?</h2>
      <a routerLink="/tabs/tab1">  <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></a>
    </ion-slide>

  </ion-slides>
</ion-content>
