ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 17rem;
    color:#fff
  }
  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 30px 0 40px;
    pointer-events: none;
  }
  b {
    font-weight: 700;
    color:#fff
  }

  p {
    padding: 0 40px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #fff);
  }
  a ion-button{
    background-color: #3b5998;
    border-radius: 30px;
    color: #fff;
    width: 150px;
    height: 50px;
  }
  .slider0{
    background-image:url(../../../resources/slider0.jpg);
    background-size: cover;
    background-position: center;
}
.slider1{
  background-image:url(../../../resources/slider1.jpg);
  background-size: cover;
  background-position: center;
}
.slider2{
  background-image:url(../../../resources/slider2.jpg);
  background-size: cover;
  background-position: center;
}
.slider3{
  background-image:url(../../../resources/slider3.jpg);
  background-size: cover;
  background-position: center;
}